
*{
    width: auto;
box-sizing: border-box;
margin: 0 0;
padding: 0
}
.baner { 
width: 1000px
height: 800px;
display: flex;
}
.menuprincipal {
background-color: #91DD8A;
width: auto;
height: 52px;
display: flex;
justify-content: space-around;
}

.força{
    background-image: linear-gradient(#bf0fff,#f89b29);
    width: 400px;
    color: white; 
    

}






